/* Основной контейнер */
.gallery-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-images {
    display: flex;
    transition: transform 0.5s ease;
}

.gallery-image {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.indicator-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 10;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: white;
}

/* Анимация для затемнения фона */
@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@keyframes fadeOut {
    from {
        background-color: rgba(0, 0, 0, 0.8);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

/* Анимация для увеличения изображения */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0;
    }
}

/* Стиль для всплывающего окна */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: zoom-out;

    /* Анимация затемнения */
    animation: fadeIn 0.3s forwards;
}

.popup-overlay.hidden {
    animation: fadeOut 0.3s forwards;
}

/* Стиль для увеличенного изображения */
.popup-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 8px;
    animation: zoomIn 0.3s forwards;
}

.popup-image.hidden {
    animation: zoomOut 0.3s forwards;
}
